@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif; // background: purple;
}

header {
  ul {
    li {
      display: inline-block;
      padding: 20px;
    }
  }
}

.blue-bg {
  background: blue;
  overflow: auto;
  height: 100%;
  padding: 25px;
}

.danger-red {
  background: red;
}

.user-info {
  float: left;
  width: 50%;
  color: white;
  h3 {
    font-size: 30px;
  }
}

.GirlImageComp {
  float: left;
  width: 50%;
  img {
    width: 500px;
  }
}